<div class="project-status">
  <div class="current-status">
    Project status: <span class="value"><%= @project.status %></span>
  </div>
  <% unless @project.histories.empty? %>
    <div>Status last changed at <%= @project.histories.first.created_at.strftime(DATE_FORMAT) %></div>
  <% end %>
  <div class="change-status">
    <%= form_with method: :patch do |f| %>
      <div class="form-group">
        <label>New status</label>
        <%= f.select :status, [''] + PROJECT_STATUSES.find_all{|s| s != @project.status}.map{|s| [s, s]} %>
      </div>
      <%= f.submit 'Change status'  %>
    <% end %>
  </div>
</div>


<div class="project-comments">
  <div class="info">
    <% if @project.comments.empty? %>
      No comments yet
    <% else %>
      <div>Total comments: <%= @project.comments.count %></div>
    <% end %>
  </div>
  <div><%= link_to 'Leave a new comment', new_comment_path, class: 'new-comment-link' %></div>
</div>
